.container{
    margin-bottom: 100px;
}

.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient( to bottom, #ff589b 0%, #ff136f);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-image: linear-gradient(to bottom, #ebbc80 50%, #e2932b);

}
.cat2{
    background-image: linear-gradient( to bottom, #ff589b 50%, #ff136f);

}
.cat3{
    background-image: linear-gradient( to bottom, #7467ee 50%, #3713ff);

}
.categories h1{
    color: #ffffff;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: grey;
}
footer{
    text-align: center;
}